@import url("./components/footer.css");


h1 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: rgb(40, 40, 40);
  font-weight: bold;
  font-size: 30px;
}

h2 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: rgb(40, 40, 40);
  font-weight: lighter;
  font-size: 20px;
}

.btn-ghost {
  color: #bfbdc1;
  border: 1px solid #bfbdc1;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  font-size: 19px;
  opacity: 0.8;
  transition: opacity 0.3s ease;
  position: relative;
  top: 30px;
  left: 25px;
}

.btn-ghost:hover {
  opacity: 1;
  color: #bfbdc1;
}

.badge {
  position: relative;
  left: 10px;
  top: 10px;
  opacity: 1;
  vertical-align: initial;
  background-color: red;
}

p.banner.badge {
  color: white;
  opacity: 0.8;
  font-weight: lighter;
  font-size: 15px;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  text-align: center;
}

.banner {
  text-align: center;
  background-image: linear-gradient(
      rgba(0, 0, 0, 0.8) 0%,
      rgba(0, 0, 0, 0.4) 50%
    ),
    url("https://unsplash.it/1300/500?random");
  background-size: cover;
  padding: 10%;
  color: white;
  max-height: 450px;
  min-width: 410px;
}

.banner h1 {
  color: white;
  font-size: 50px;
}

.banner p {
  color: white;
  opacity: 0.8;
  font-size: 30px;
  font-weight: lighter;
}

.footer p {
  color: white;
  background-color: black;
  text-align: center;
}

.card {
  padding: 50px;
  text-align: center;
  font-weight: lighter;
}
.footer-banner {
  text-align: center;
  max-width: 750px;
  margin: 8vh auto;
}
.footer-banner p {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 18px;
  color: #333;
  font-weight: 100;
  padding: 20px;
}

mark {
  background-color: #E86C60;
}
